<h1 class="text-center">ActividadExtraescolar#index</h1>
<p>Find me in app/views/actividad_extraescolar/index.html.erb</p>
<h2 class="text-center">TITULACIONES EN DATA WAREHOUSE</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Actividad</th>
        <th>Nombre</th> 
        <th>Tipo</th>
    </tr>
    <% @actividad_data.each do |actividad| %>
        <tr>
            <th><%= actividad.Id_actividad%></th> 
            <th><%= actividad.Nombre %></th> 
            <th><%= actividad.Tipo_actividad%></th>
        </tr>
    <%end%>
</table>