<h1  class="text-center">NivelDeIngles</h1>
<!----<p>Find me in app/views/nivel_de_ingles/index.html.erb</p>---->
<h2 class="text-center">NIVELES DE INGLES EN DATAWAREHOUSE</h2>
    <table style="width:100%", class= "table table-striped table-bordered table-sm">
        <tr>
            <th>Id Nivel</th>
            <th>Nombre</th> 
            <th>Descripción</th>
        </tr>
        <% @niveles_data.each do |nivel| %>
                <tr>
                    <th><%= nivel.Id_Nivel %></th>
                    <th><%= nivel.Nombre %></th> 
                    <th><%= nivel.Descripcion %></th>
                </tr>
        <%end%>
    </table>