<br>
<h1 class="text-center">INSTITUTO PANCHO VILLA</h1>
<br>
<h2 class="text-center">Bienvenido</h2>

<body class="Backgruond">
<div class="text-center">
<%= link_to 'Iniciar Sesión', new_user_session_path, class: 'btn btn-primary btn-lg' %>
<br>
<%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
</body>