<h1>INSTITUTO PANCHO VILLA</h1>

<%= link_to 'Iniciar Sesión', new_user_session_path, class: 'btn btn-primary' %>
<br>
<%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-primary' %>

