<h1>AlumnosExternosIngles#index</h1>
<p>Find me in app/views/alumnos_externos_ingles/index.html.erb</p>
<h2>ALUMNOS EXTERNOS INGLES EN DATA WAREHOUSE</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Alumno</th> 
        <th>Id Escuela</th>
    </tr>
    <% @alumnos_ext_data.each do |alumno| %>
        <tr>
            <th><%= alumno.Id_Alumno%></th> 
            <th><%= alumno.Id_escuela %></th> 
        </tr>
    <%end%>
</table>