// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Backgruond {
    background-image: url('Gradient-image.jpg');
    background-size: cover;
}

.form-control {
    width: 30%;
    margin: auto;
}

.navbar_ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botones_tablas {
    width: 100px;
    height: 100px;
    background-color: aqua;
}