<body class="Backgruond">
<h1 class="text-center">¡ERRORES CORREGIDOS!</h1>
<h2 class="text-center">Podrás revisar los cambios en la base de datos "dwh_school"</h2>
<!--<h1 class="text-center">DESCARGAR ETL</h1>-->
</body>
