<h1 class="text-center">SE ENCONTRARON ERRORES AL MOMENTO DE REALIZAR EL ETL</h1>
<div class="text-center">
<h2>¿Qué desea hacer?</h2>
<h3><%= link_to "REVISAR ERRORES", etl_errores_path, method: :get, class: 'btn btn-outline-primary' %></h3>
<h3><%= link_to "OMITIR ERRORES", descargar_etl_path, method: :get,  class:'btn btn-outline-warning btn-lg' %></h3> <!--BORRAR TODOS LOS REGISTROS CON ERRORES-->
</div>