<h1>SE ENCONTRARON ERRORES AL MOMENTO DE REALIZAR EL ETL</h1>
<h3><%= link_to "REVISAR ERRORES", etl_errores_path, method: :get %></h3>
<h3><%= link_to "OMITIR ERRORES", descargar_etl_path, method: :get %></h3> <!--BORRAR TODOS LOS REGISTROS CON ERRORES-->